<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <pages enableViewState="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SistemaGestionRemotoConnectionString"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="WebSGR"/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SistemaGestionRemotoConnectionString"
          applicationName="WebSGR"/>
      </providers>
      <properties>
        <add name="VerCodificacionEquipos" type="System.Boolean" serializeAs="String"/>
        <add name="EstadoUsuario" type="SistemaGestionRedes.EstadoUsr" serializeAs="String"/>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="SistemaGestionRemotoConnectionString" applicationName="WebSGR" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <globalization uiCulture="es-CO"/>
    <!--<globalization
      uiCulture="en-US" />-->
  </system.web>
  <!--<connectionStrings>
    <add name="SistemaGestionRemotoContainer" connectionString="metadata=res://*/SistemaGestionRemoto.csdl|res://*/SistemaGestionRemoto.ssdl|res://*/SistemaGestionRemoto.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLEXPRESS;Initial Catalog=SGRDelsur;User ID=sa;Password=sonic2008;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SistemaGestionRemotoConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SGRDelsur;User ID=sa;Password=sonic2008" providerName="System.Data.SqlClient"/>
    <add name="conexionADO" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SGRDelsur;User ID=sa;Password=sonic2008" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="SistemaGestionRemotoContainer"
      connectionString="metadata=res://*/SistemaGestionRemoto.csdl|res://*/SistemaGestionRemoto.ssdl|res://*/SistemaGestionRemoto.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.6.44\sqlexpress;Initial Catalog=SGRCemigPilotos;User ID=sa;Password=sonic2014*;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="SistemaGestionRemotoConnectionString"
      connectionString="Data Source=192.168.6.44\sqlexpress;Initial Catalog=SGRCemigPilotos;User ID=sa;Password=sonic2014*" providerName="System.Data.SqlClient"/>
    <add name="conexionADO" connectionString="Data Source=192.168.6.44\sqlexpress;Initial Catalog=SGRCemigPilotos;User ID=sa;Password=sonic2014*"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="periodoSonidoAlarma" value="2"/>
    <add key="MaxCanalesIEC104" value="1"/>
    <add key="MaxEquiposCanal" value="64"/>
    <!-- 64 es basado en el limite de sectores por canal del Scada Data Gateway de TMW -->
    <add key="queueToCosoft" value=".\private$\WebSgrToSgrCosoftCelsa"/>
    <add key="queueFromCosoft" value=".\private$\SgrCosoftToWebSGRCelsa"/>
    <add key="queueToWinScada" value=".\private$\WebToWinScadaCelsa"/>
    <add key="queueFromWinScada" value=".\private$\WinScadaToWebCelsa"/>
    <add key="verSix" value="true"/>
    <add key="CodigoPais" value="57"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=d:\TempImageFiles\;"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>