<?xml version="1.0"?>
<configuration>
    
  <system.web>

  </system.web>

  <location path="NewFCI.aspx">
    <system.web>
      
      <authorization>
        <deny roles="visualizador" />
      </authorization>
      
    </system.web>
  </location>

  <location path="NewFWT.aspx">
    <system.web>

      <authorization>
        <deny roles="visualizador" />
      </authorization>

    </system.web>
  </location>
  
</configuration>
